$base-color-white: #FFFFFF;
$base-color-off-white: #F0F1F1;
$base-color-font: #3C3C3C;
$accent-color-font: #5E5322;
$accent-color-gray: #707070;
$accent-color-login-box: #FAD648;
$accent-color-login-font: #737373;
$accent-color-decoration: #1A1818;