$color-base-white: #FFFFFF;
$color-base-off-white: #F0F1F1;
$color-base-font: #3C3C3C;
$color-accent-font: #5E5322;
$color-accent-gray: #707070;
$color-accent-login-box: #FAD648;
$color-accent-login-font: #737373;
$color-accent-decoration: #1A1818;