@import 'settings/reset';
@import 'settings/fonts';
@import 'settings/colors';

@import 'elements/nav_bar';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: $font-base;
}
